
<header class="header-container">
    <div class="header-content">
        <h1 class="title">YouTube Clone</h1>
        <div class="auth-links">
            <a href="/inscription" class="auth-link">👤 S'inscrire</a>
            <span>/</span>
            <a href="/login" class="auth-link">🔐 Se connecter</a>
        </div>
    </div>


    <!-- Navigation avec connexion/déconnexion conditionnelle -->
    <nav>
        // <a routerLink="/">Home</a>
    
        <!-- Si l'utilisateur n'est pas connecté, afficher le lien "Login" -->
        @if(!isLoggedIn()) {
        <a routerLink="/login">Login</a>
        }
        <!-- Si l'utilisateur est connecté, afficher "Profile" et "Logout" -->
        @if(isLoggedIn()) {
        <a routerLink="/profil">Profile</a>
        <a (click)="logout()">Logout</a>
        }
    </nav>
   
</header>